<div data-event-form data-on-submit="createEvent"></div>

<div class="row" data-ng-init="init()">
    <div class="col-md-12">
        <h3>Calendar</h3>
        <div data-ui-calendar="calendar"
             data-ng-model="eventSources"
             data-calendar="calendarInstance"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Events</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Timezone</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="event in events">
                    <td>{{event.title}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.location}}</td>
                    <td>{{event.start | date:'medium'}}</td>
                    <td>{{event.end | date:'medium'}}</td>
                    <td>{{event.timezone}}</td>
                    <td>{{event.type}}</td>
                    <td>
                        <button class="btn btn-default"
                                data-ng-click="deleteEvent(event)"
                                data-ng-confirm-click="Really delete event {{event.title}}?">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>