<div class="animation row" data-ng-show="contact">
  <div class="col-md-12">
      <form data-ng-submit="updateContact()">
          <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" data-ng-model="contact.firstName">
          </div>
          <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" data-ng-model="contact.lastName">
          </div>
          <div class="form-group">
              <label for="additionalNames">Additional Names</label>
              <input type="text" class="form-control" id="additionalNames" data-ng-model="contact.additionalNames">
          </div>
          <div class="form-group">
              <label class="control-label">Version</label>
              <div>
                  <p class="form-control-static">{{contact.version}}</p>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label">E-Mails</label>
              <div data-ng-repeat="email in contact.emails">
                  <span data-ng-click="remove(contact.emails, $index)" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></span>
                  <span>{{email.address}}</span>
              </div>
              <input class="form-control" type="email" data-ng-model="newMail">
              <button data-ng-click="addNewMail()" class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i></button>
          </div>
          <div class="form-group">
              <label class="control-label">Contact Addresses</label>
              <div data-ng-repeat="address in contact.contactAddresses">
                  {{address}}
              </div>
          </div>
          <div class="form-group">
              <label class="control-label">Phone Numbers</label>
              <div data-ng-repeat="phoneNumber in contact.phoneNumbers">
                  <span data-ng-click="remove(contact.phoneNumbers, $index)" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></span>
                  <span>{{phoneNumber.number}} ({{phoneNumber.type}})</span>
              </div>
              <input class="form-control" type="text" data-ng-model="newPhoneNumber">
              <button data-ng-click="addNewPhoneNumber()" class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i></button>
          </div>
          <div class="form-group">
              <label class="control-label">Internet Identifiers</label>
              <div data-ng-repeat="identifier in contact.internetIdentifiers">
                  {{identifier}}
              </div>
          </div>
          <button type="submit" class="btn btn-success">Update</button>
      </form>
  </div>
</div>
