<div class="container">
    <div class="row">
        <div data-ng-init="loadFiles()">
            <div data-flow-init
                 data-flow-files-submitted="$flow.upload()"
                 data-flow-file-success="fileUploaded($file)">

                <span class="btn btn-default" data-flow-btn>Upload File</span>

                <div data-ng-repeat="file in $flow.files">
                    <span>{{$index+1}}</span>
                    <span>{{file.name}}</span>
                    <span>{{file.msg}}</span>
                    <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                            <span class="">{{file.progress()*100}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation row">
        <div class="top5 left5 file tile tile-blue col-xs-2 col-md-2" data-ng-repeat="file in files">
            <div class="file-title">
                <i data-ng-class="{'glyphicon glyphicon-folder-close': file.isDirectory, 'glyphicon glyphicon-file': !file.isDirectory}"></i>
                <span>{{file.name}}</span>
            </div>
            <div class="file-details">{{file.created | date}}</div>
        </div>
        <div data-ng-show="!files.length">
            <p>You don't have files yet, upload some!</p>
        </div>
    </div>
</div>

