<div class="container">
    <div class="row">
        <div data-ng-init="loadFiles()">
            <div data-flow-init
                 data-flow-name="flow.instance"
                 data-flow-files-submitted="upload()"
                 data-flow-file-success="fileUploaded($file)">

                <span class="btn btn-default" data-flow-btn><i class="glyphicon glyphicon-upload"></i> Upload File</span>
                <span class="btn btn-default" data-ng-click="play()"><i class="fa fa-play"></i></span>

                <div data-ng-repeat="file in $flow.files">
                    <span>{{$index+1}}</span>
                    <span>{{file.name}}</span>
                    <span>{{file.msg}}</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped"
                             data-ng-class="{active: file.isUploading()}"
                             role="progressbar" 
                             aria-valuenow="100" 
                             aria-valuemin="0" 
                             aria-valuemax="100" data-ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                            <span class="">{{file.progress()*100 | number:0}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation row">
        <div class="table-responsive">
            <table class="table table-striped" data-ng-show="files.length">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Size</th>
                </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="file in files"
                        data-ng-click="open(file)">
                        <td>
                            <i data-ng-class="{'glyphicon glyphicon-folder-close': file.isDirectory, 'glyphicon glyphicon-file': !file.isDirectory}"></i>
                            <span>{{file.name}}</span>
                        </td>
                        <td><span>{{file.created | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
                        <td ><span data-ng-hide="file.isDirectory">{{file.size | bytes}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-ng-show="!files.length">
            <p>You don't have files yet, upload some!</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="file-gallery swipeshow" data-ng-show="playing">
        <div class="slides">
            <img class="slide"
                 data-ng-repeat="file in files | filter: isImage"
                 data-ng-src="{{file._links.content.href}}">
        </div>
    </div>
</div>

