<form role="form" class="inline-form">
    <div>
        <label for="newPut">What's new?</label>

        <textarea name="newPut"
                  class="form-control"
                  id="newPut"
                  data-ng-model="newPut"
                  placeholder="Put it here"
                  data-mentio
                  data-mentio-id="newPut"></textarea>
        
        <mentio-menu mentio-for="'newPut'"
                     mentio-trigger-char="'@'"
                     mentio-typed-text="typedTerm"
                     mentio-items="users"
                     mentio-template-url="user-mentions.tpl"
                     mentio-search="searchUsers(term)"
                     mentio-select="'@' + item.userName"></mentio-menu>

        <mentio-menu mentio-for="'newPut'"
                     mentio-trigger-char="':'"
                     mentio-typed-text="typedTerm"
                     mentio-items="emojis"
                     mentio-template-url="emoji.tpl"
                     mentio-search="findEmoji(term)"
                     mentio-select="':' + item + ':'"></mentio-menu>
    </div>
    <div class="top10">
        <button data-ng-click="put()" type="submit" class="btn btn-default">Submit</button>    
    </div>
</form>