<div class="row inbox" data-ng-init="init()">
    <div class="col-md-4">
        <div class="panel panel-default animation" data-ng-cloak>
            <div class="panel-body">
                <form data-ng-submit="sendMessage()">
                    <div class="form-group">
                        <label>To</label>
                        <ui-select id="recipient" data-focus-on="focusRecipient" data-ng-model="newMessage.recipient" theme="bootstrap">
                            <ui-select-match placeholder="Select recipient...">
                                <img style="width:20px; height: 20px" data-ng-src="avatar/{{$select.selected.userName}}" >
                                <span>{{$select.selected.userName}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="user in users | filter: $select.search track by user.userName"
                                               refresh="getUsers($select.search)"
                                               refresh-delay="700">
                                <img class="avatar" data-ng-src="avatar/{{user.userName}}" >
                                <div data-ng-bind-html="user.userName | highlight: $select.search"></div>
                                <div data-ng-bind-html="user.about | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <div id="text"
                             data-item-input
                             data-bind="newMessage.message.text"
                             data-label="Text"
                             data-focus-event="input"
                             data-placeholder="Enter text"></div>
                    </div>
                    <button id="btn-send-message" type="submit" class="btn btn-primary"
                            data-ng-disabled="!validateForm()">
                        <i class="glyphicon glyphicon-send"></i> Send
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8" data-ng-show="messages && messages.count == 0" data-ng-cloak>
        <div class="alert alert-info" role="alert">
            <p>
                No messages yet <span data-ng-show="withUser">with <strong>{{withUser}}</strong></span>!
                <a data-ng-href="#/inbox">Show all</a>
            </p>
        </div>
    </div>
    <div class="col-md-8" data-ng-show="totalCount()">
        <div class="pull-right">
            <span class="text-muted"><b>{{start(messages)}}</b>–<b>{{end(messages)}}</b> of <b>{{totalCount()}}</b></span>
            <div class="btn-group btn-group-sm">
                <button type="button"
                        class="btn btn-default"
                        data-ng-click="getMessages()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <button type="button"
                        class="btn btn-default"
                        data-ng-disabled="!messages._links.previousPage"
                        data-ng-click="loadPrevious()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button"
                        class="btn btn-default"
                        data-ng-disabled="!messages._links.nextPage"
                        data-ng-click="loadNext()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <ul class="chat">
                <li class="left clearfix" data-ng-repeat="message in messages.messages">
                    <span class="chat-img pull-left" data-ng-click="showMessagesWith(message.from)">
                        <img data-ng-src="avatar/{{message.from}}" alt="User Avatar" class="avatar img-circle" />
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{message.from}}</strong><br>
                            <small class="text-muted">
                                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                {{message.to}}
                            </small>
                            <small class="text-muted"
                                   data-ng-show="message._links.delete"
                                   style="margin-left: 5px;"
                                   data-ng-click="deleteMessage(message)"
                                   data-ng-confirm-click="Are you sure you want to delete {{message.id}}?">
                                <i class="glyphicon glyphicon-trash"></i>
                            </small>
                            <small class="text-muted pull-right">
                                <span class="glyphicon glyphicon-time"></span>
                                {{message.created | date:'yyyy-MM-dd HH:mm'}}
                            </small>
                        </div>
                        <p class="message-text" data-ng-bind-html="message.text | emojify | markdown">
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <div class="btn-group btn-group-sm">
                <button type="button"
                        class="btn btn-default"
                        data-ng-disabled="!messages._links.previousPage"
                        data-ng-click="loadPrevious()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button"
                        class="btn btn-default"
                        data-ng-disabled="!messages._links.nextPage"
                        data-ng-click="loadNext()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>