<div class="row inbox" data-ng-init="init()">
    <div class="col-sm-3 col-md-2">
        <a href="" 
           class="btn btn-danger btn-sm btn-block" 
           role="button"
           data-ng-click="openCompose()">NEW</a>
        <hr/>
    </div>
    <div class="col-sm-9 col-md-10">
        <div class="row">
            <div class="panel panel-default animation" data-ng-show="compose" data-ng-cloak>
                <div class="panel-body">
                    <form class="form-horizontal" data-ng-submit="sendMessage()">
                        <div class="form-group">
                            <label for="recipient" class="control-label col-md-1">To</label>
                            <div class="col-md-11" id="recipient">
                                <ui-select data-ng-model="newMessage.recipient" theme="bootstrap">
                                    <ui-select-match placeholder="Select recipient...">{{$select.selected.userName}}</ui-select-match>
                                    <ui-select-choices repeat="user in users | filter: $select.search track by user.userName"
                                                       refresh="getUsers($select.search)"
                                                       refresh-delay="500">
                                        <img class="avatar" data-ng-src="avatar/{{user.userName}}" >
                                        <div data-ng-bind-html="user.userName | highlight: $select.search"></div>
                                        <div data-ng-bind-html="user.about | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text" class="control-label col-md-1">Text</label>
                            <div class="col-md-11">
                                <textarea id="text"
                                       data-ng-model="newMessage.message.text" 
                                       class="form-control" 
                                       placeholder="Enter text"></textarea>
                            </div>
                        </div>
                        <button id="btn-send-message" type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-envelope"></i> Send
                        </button>
                        <button id="btn-cancel-message" type="button" class="btn btn-default" data-ng-click="closeCompose()">Cancel</button>
                    </form>
                </div>
            </div>   
        </div>

        <div class="pull-right">
            <span class="text-muted"><b>{{start(messages)}}</b>–<b>{{end(messages)}}</b> of <b>{{totalCount()}}</b></span>
            <div class="btn-group btn-group-sm">
                <button type="button"
                        class="btn btn-default"
                        data-ng-disabled="!messages._links.previousPage"
                        data-ng-click="loadPrevious()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button"
                        class="btn btn-default"
                        data-ng-disabled="!messages._links.nextPage"
                        data-ng-click="loadNext()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="/#home" data-toggle="tab">
                    <span class="glyphicon glyphicon-inbox"></span> Inbox
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="inbox">
                <div class="list-group" data-ng-show="messages.messages">
                    <a data-ng-repeat="message in messages.messages" href="" class="list-group-item">
                        <span><img class="avatar" data-ng-src="avatar/{{message.from}}" ></span>
                        <span class="name" style="min-width: 120px;
                                display: inline-block;">{{message.from}}</span>                        
                        <span class="name" style="min-width: 120px;
                                display: inline-block;">{{message.to}}</span>
                        <span class="badge">{{message.created | date:'yyyy-MM-dd HH:mm'}}</span>
                        <span class="well top10 message-text">{{message.text}}</span>
                        <span class="text-muted" style="font-size: 11px;"></span>
                        <span class="pull-right">
                            <span data-ng-show="message.state == 'unread'" class="glyphicon glyphicon-envelope"></span>
                        </span>
                    </a>
                </div>
                <div data-ng-hide="messages.messages">
                    <p class="top15">No messages yet.</p>
                </div>
            </div>
        </div>
    </div>
</div>